@page
@model MyWebsiteSmiley.Pages.SidePageModel
@{
    ViewData["Title"] = "Content";
}
<div class="rightBar">

        <div class="content">
            <header>If ramen noodles can’t fix it, don’t mention it.</header>
            <img src="images/mechanic.PNG" alt="Too Late" @*width="50%" height="auto"*@>            
        </div>
        <div class="comments">            
            <h4>User Name</h4>
            <p>There will be some comments.</p>            
        </div>
        <div class="comments">            
            <h4>User Name</h4>
            <p>There will be some comments.</p>            
        </div>
        <div class="comments">
            <h4>User Name</h4>
            <p>There will be some comments.</p>            
        </div>
        
    </div>